<% content_for :extra_classes, flush: true do %>timeline__item--affirmative<% end %>
<% content_for :title, flush: true do %>
    <%= a.related_content.document_type.name %> added
    <%= " by #{a.owner.name}" unless a.owner.blank? %>
<% end %>
<% content_for :description, flush: true do %>
    <a href="<%= a.related_content.document.url %>" class="file file--<%= a.related_content.nice_content_type[:generic_type].parameterize %>">
        <span class="file__name">
            <%= a.related_content.document_file_name %>
        </span>
        <span class="file__description">
            <%= a.related_content.description %>
        </span>
        <span class="file__details">
            <%= number_to_human_size(a.related_content.document_file_size) %>
        </span>
    </a>
<% end %>