<% content_for :extra_classes, flush: true do %>timeline__item--affirmative<% end %>
<% content_for :title, flush: true do %>
    Publication added<%= " by #{a.owner.name}" unless a.owner.blank? %>
<% end %>
<% content_for :description, flush: true do %>
    <p class="file file--publication">
        <% unless a.related_content.doi_number.blank? %>
        <a href="https://dx.doi.org/<%= a.related_content.doi_number %>">
        <% end %>
        <span class="file__name">
            <%= a.related_content.article_title %>
        </span>
        <span class="file__details">
            <%= a.related_content.lead_author %> –
            <%= a.related_content.book_or_journal_title %>
            (<%= a.related_content.publication_year %>)
        </span>
        <% unless a.related_content.doi_number.blank? %>
        </a>
        <% end %>
    </p>
<% end %>