<header class="site-header">
    <div class="container">
        <div class="site-header__title">
            <h1>
                <% if @include_archived %>
                    <%= pluralize total_not_withdrawn_studies, "study" %> (<%= Study.archived.count %> archived),
                <% else %>
                    <%= pluralize total_not_archived_or_withdrawn_studies, "study" %>,
                <% end %>
                in <%= pluralize total_locations, "location" %>
            </h1>
            <h2>
                <%= pluralize total_impactful_studies, "study" %>
                with recorded impact
            </h2>
        </div>
        <form class="site-header__search" action="<%= request.path %>" method="get">
            <label for="header-search">
                Search by topic, researcher, or location
            </label>
            <div class="site-header__search__wrapper">
                <input id="header-search" class="form-control" name="q" value="<%= @q %>">
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
</header>