<div class="list-of-things__secondary">
  <% if @show_quick_filters %>
    <div class="list-of-things__secondary-action list-of-things__secondary-action--quick-filters">
        <h2>Quick filters</h2>
        <div class="quick-filters">
            <a href="<%= root_path %>?scope=delayed_completing" class="quick-filters__filter quick-filters__filter--impact">
                Studies delayed completing
            </a>
            <a href="<%= root_path %>?scope=erb_response_overdue" class="quick-filters__filter quick-filters__filter--pending">
                Studies whose ERB response is overdue
            </a>
            <a href="<%= root_path %>?scope=erb_approval_expiring" class="quick-filters__filter quick-filters__filter--expiring">
                Studies with ERB approval expiring
            </a>
        </div>
    </div>
  <% end %>
    <div class="list-of-things__secondary-action list-of-things__secondary-action--filters">
        <h2>Show only studies in…</h2>
        <form method="get" action="">
          <p>
              <label for="sidebar-study_stage" class="sr-only">Stage:</label>
              <select name="study_stage[]"
                      id="sidebar-study_stage"
                      multiple="true"
                      data-none-selected-text="All stages"
                      data-actions-box="true"
                      data-live-search-placeholder="Search study stages...">
                  <% Study::STUDY_STAGE_LABELS.each do |k, v| %>
                    <% unless k == :archived || k == :withdrawn_postponed %>
                        <option value="<%= k %>"
                                <%= "selected" if @selected_study_stages.include? k.to_s %>>
                          <%= v %>
                        </option>
                    <% end %>
                  <% end %>
              </select>
          </p>
          <p>
              <label for="sidebar-country" class="sr-only">Location:</label>
              <select name="country[]"
                      id="sidebar-country"
                      multiple="true"
                      data-none-selected-text="All locations"
                      data-actions-box="true"
                      data-live-search-placeholder="Search study locations...">
                  <option value="">All locations</option>
                  <% @countries.keys.sort.each do |name| %>
                    <% code = @countries[name] %>
                    <option value="<%= code %>"
                            <%= "selected" if @selected_countries.include? code %>>
                      <%= name %>
                    </option>
                  <% end %>
              </select>
          </p>
          <p>
              <label for="sidebar-study_topic" class="sr-only">Topic:</label>
              <select name="study_topic[]"
                      id="sidebar-study_topic"
                      multiple="true"
                      data-none-selected-text="All topics"
                      data-actions-box="true"
                      data-live-search-placeholder="Search study topics...">
                  <% @study_topics.each do |t| %>
                    <option value="<%= t.name.downcase %>"
                            <%= "selected" if @selected_study_topics.include? t.name.downcase %>>
                      <%= t.name %>
                    </option>
                  <% end %>
              </select>
          </p>
          <p>
              <label for="sidebar-study_type" class="sr-only">Methodology:</label>
              <select name="study_type[]"
                      id="sidebar-study_type"
                      multiple="true"
                      data-none-selected-text="All methodologies"
                      data-actions-box="true"
                      data-live-search-placeholder="Search study methodologies...">
                  <% @study_types.each do |t| %>
                    <option value="<%= t.name.downcase %>"
                            <%= "selected" if @selected_study_types.include? t.name.downcase %>>
                      <%= t.name %>
                    </option>
                  <% end %>
              </select>
          </p>
          <p>
              <label for="sidebar-operating_center" class="sr-only">Operating centers:</label>
              <select name="operating_center[]"
                      id="sidebar-operating_center"
                      multiple="true"
                      data-none-selected-text="All Operating centers"
                      data-actions-box="true"
                      data-live-search-placeholder="Search study operating centers...">
                  <% @operating_centers.each do |oc_key, oc_value| %>
                    <option value="<%= oc_key %>"
                            <%= "selected" if @selected_operating_centers.include? oc_key.to_s %>>
                      <%= oc_value %>
                    </option>
                  <% end %>
              </select>
          </p>
          <p>
              <label for="include_archived">
                <input id="include_archived"
                       type="checkbox"
                       value="1"
                       name="include_archived"
                       <%= "checked" if @include_archived %>>
                Include archived studies
              </label>
          </p>
          <p style="margin-bottom: 0;">
            <input type="hidden" name="q" value="<%= @q %>" />
            <input type="hidden" name="order" value="<%= params[:order] %>" />
            <button type="submit" class="btn btn-success pull-right">Filter studies</button>
            <a href="<%= request.path %>" class="btn btn-default">Clear filters</a>
          </p>
        </form>
    </div>
    <%= link_to "Download this page as a CSV for Excel",
               url_for(params: request.query_parameters.merge(format: :csv)),
               class: "list-of-things__secondary-action list-of-things__secondary-action--download" %>
</div>
