<div class="list-of-things__secondary">
    <div class="list-of-things__secondary-action list-of-things__secondary-action--quick-filters">
        <h2>Quick filters</h2>
        <div class="quick-filters">
            <a href="/search?impacts=true" class="quick-filters__filter quick-filters__filter--impact">
                Studies with publications or registered impacts
            </a>
            <a href="/search?erb=pending" class="quick-filters__filter quick-filters__filter--pending">
                Studies with ERB approval pending
            </a>
            <a href="/search?erb=expiring" class="quick-filters__filter quick-filters__filter--expiring">
                Studies with ERB approval expiring
            </a>
          <% if @include_archived %>
            <a href="?include_archived=0" class="quick-filters__filter quick-filters__filter--archived">
                Exclude archived studies
            </a>
          <% else %>
            <a href="?include_archived=1" class="quick-filters__filter quick-filters__filter--archived">
                Include archived studies
            </a>
          <% end %>
        </div>
    </div>
    <div class="list-of-things__secondary-action list-of-things__secondary-action--filters">
        <form method="get" action="">
          <p>
              <label>Stage:</label>
              <select name="study_stage">
                  <option value="">All stages</option>
                  <% Study::STUDY_STAGE_LABELS.each do |k, v| %>
                    <option value="<%= k %>" <%= "selected" if k.to_s == @study_stage %>><%= v %></option>
                  <% end %>
              </select>
          </p>
          <p>
              <label>Location:</label>
              <select name="country">
                  <option value="">All locations</option>
                  <% @countries.keys.sort.each do |name| %>
                    <% code = @countries[name] %>
                    <option value="<%= code %>" <%= "selected" if code == @country %>><%= name %></option>
                  <% end %>
              </select>
          </p>
          <p>
              <label>Topic:</label>
              <select name="study_topic">
                  <option value="">All topics</option>
                  <% @study_topics.each do |t| %>
                    <option value="<%= t.name.downcase %>" <%= "selected" if t.name.downcase == @study_topic %>><%= t.name %></option>
                  <% end %>
              </select>
          </p>
          <p>
              <label>Methodology:</label>
              <select name="study_type">
                  <option value="">All methodologies</option>
                  <% @study_types.each do |t| %>
                    <option value="<%= t.name.downcase %>" <%= "selected" if t.name.downcase == @study_type %>><%= t.name %></option>
                  <% end %>
              </select>
          </p>
          <p>
            <input type="hidden" name="q" value="<%= @q %>" />
            <input type="hidden" name="order" value="<%= params[:order] %>" />
            <button type="submit" class="btn btn-success">
                Filter
            </button>
          </p>
        </form>
    </div>
    <a href="/export" class="list-of-things__secondary-action list-of-things__secondary-action--download">
        Download this page as a CSV for Excel
    </a>
</div>