<div class="list-of-things__list__item
            list-of-things__list__item--study
          <% if @show_flagged && study.flagged? %>
            list-of-things__list__item--<%= study.flagged_status %>
          <% end %>">
    <p class="list-of-things__list__item__badge
              list-of-things__list__item__badge--<%= study.study_stage %>"
       title="<%= study.study_stage_description.html_safe %>"
       data-toggle="tooltip"
       data-placement="right">
      <%= study.study_stage_label %>
    </p>
    <h2 class="list-of-things__list__item__title">
        <a href="<%= study_path study %>"><%= study.title %></a>
    </h2>
    <dl class="dl-horizontal">
        <dt>Study details</dt>
        <dd>
            <%= link_to study.study_type.name,
                        root_path(study_type: study.study_type.name) %>
          <% unless study.country_names.blank? %>
            in
            <% study.countries.each do |country| %>
              <%= link_to country.name,
                          root_path(country: country.alpha2) %>
              <%= "," unless country == study.countries.last %>
            <% end %>
          <% end %>
        </dd>
      <% unless study.principal_investigator.blank? %>
        <dt>Principal investigator:</dt>
        <dd>
            <%= link_to study.principal_investigator.name,
                        root_path(q: study.principal_investigator.name) %>
        </dd>
      <% end %>
    </dl>
    <% if @show_delivery_updates %>
      <%= render partial: 'delivery_updates/info_box',
                 locals: { delivery_update: study.latest_delivery_update } %>
    <% end %>
</div>