<div class="list-of-things__secondary">
  <% if @show_quick_filters %>
    <div class="list-of-things__secondary-action list-of-things__secondary-action--quick-filters">
        <h2>Quick filters</h2>
        <div class="quick-filters">
            <a href="/search?scope=delayed_completing" class="quick-filters__filter quick-filters__filter--impact">
                Studies delayed completing
            </a>
            <a href="/search?scope=erb_response_overdue" class="quick-filters__filter quick-filters__filter--pending">
                Studies whose ERB response is overdue
            </a>
            <a href="/search?scope=erb_approval_expiring" class="quick-filters__filter quick-filters__filter--expiring">
                Studies with ERB approval expiring
            </a>
        </div>
    </div>
  <% end %>
    <div class="list-of-things__secondary-action list-of-things__secondary-action--filters">
        <form method="get" action="">
          <p>
              <label>Stage:</label>
              <select name="study_stage">
                  <option value="">All stages</option>
                  <% Study::STUDY_STAGE_LABELS.each do |k, v| %>
                    <% unless k == :archived || k == :withdrawn_postponed %>
                        <option value="<%= k %>" <%= "selected" if k.to_s == @study_stage %>>
                            <%= v %>
                        </option>
                    <% end %>
                  <% end %>
              </select>
          </p>
          <p>
              <label>Location:</label>
              <select name="country">
                  <option value="">All locations</option>
                  <% @countries.keys.sort.each do |name| %>
                    <% code = @countries[name] %>
                    <option value="<%= code %>" <%= "selected" if code == @country %>><%= name %></option>
                  <% end %>
              </select>
          </p>
          <p>
              <label>Topic:</label>
              <select name="study_topic">
                  <option value="">All topics</option>
                  <% @study_topics.each do |t| %>
                    <option value="<%= t.name.downcase %>" <%= "selected" if t.name.downcase == @study_topic %>><%= t.name %></option>
                  <% end %>
              </select>
          </p>
          <p>
              <label>Methodology:</label>
              <select name="study_type">
                  <option value="">All methodologies</option>
                  <% @study_types.each do |t| %>
                    <option value="<%= t.name.downcase %>" <%= "selected" if t.name.downcase == @study_type %>><%= t.name %></option>
                  <% end %>
              </select>
          </p>
          <p>
              <label for="include_archived">
                <input id="include_archived"
                       type="checkbox"
                       value="1"
                       name="include_archived"
                       <%= "checked" if @include_archived %>>
                Include archived studies?
              </label>
          </p>
          <p>
            <input type="hidden" name="q" value="<%= @q %>" />
            <input type="hidden" name="order" value="<%= params[:order] %>" />
            <button type="submit" class="btn btn-success">Filter</button>
            <a href="<%= request.path %>" class="btn btn-default">Clear</a>
          </p>
        </form>
    </div>
    <%= link_to "Download this page as a CSV for Excel",
               url_for(params: request.query_parameters.merge(format: :csv)),
               class: "list-of-things__secondary-action list-of-things__secondary-action--download" %>
</div>