<div class="site-subnav">
    <div class="container">
        <ul class="site-subnav__tabs">
            <li>
                <a href="<%= root_path %>"
                   class="<%= "active" if current_page?(root_path) %>">
                    All studies
                </a>
            </li>
          <% unless current_user.blank? %>
            <li>
                <a href="<%= user_studies_path(current_user) %>"
                   class="<%= "active" if current_page?(user_studies_path(current_user)) %>">
                    Your studies
                    <% if @flagged_studies_count > 0 %>
                        <span class="label label-pill label-danger"><%= @flagged_studies_count %></span>
                    <% end %>
                </a>
            </li>
          <% end %>
        </ul>
    </div>
</div>