<div class="study-header__primary">
    <div class="site-header__title">
        <h1><%= @study.title %></h1>
    </div>
    <div class="study-header__details">
        <div>
            <h3 class="study-header__details__key">Methodology</h3>
            <p class="study-header__details__value"><a href="/search?methodology=mixed%20methods%20study"><%= @study.study_type.name %></a></p>
        </div>
        <div>
            <h3 class="study-header__details__key">
                <%= "Topic".pluralize(@study.study_topics.count) %>
            </h3>
            <p class="study-header__details__value">
                <a href="/search?topic=tuberculosis">
                    <%= @study.study_topic_names %>
                </a>
            </p>
        </div>
      <% unless @study.principal_investigator.blank? %>
        <div>
            <h3 class="study-header__details__key">Principal investigator</h3>
            <p class="study-header__details__value">
                <a href="/search?pi=janet%20bloggs">
                    <%= @study.principal_investigator.name %>
                </a>
            </p>
        </div>
      <% end %>
      <% unless @study.country_names.blank? %>
        <div>
            <h3 class="study-header__details__key">
                <%= "Location".pluralize(@study.countries.count) %>
            </h3>
            <p class="study-header__details__value">
                <a href="/search?location=south%20sudan">
                    <%= @study.country_names %>
                </a>
            </p>
        </div>
      <% end %>
    </div>
</div>