<div class="study-header__primary">
    <div class="site-header__title">
        <h1>
            <%= @study.title %>
          <% if @study.user_can_manage?(current_user) %>
            <span class="badge badge--red">
                <span class="glyphicon glyphicon-flag"></span>
            </span>
          <% end %>
        </h1>
    </div>
    <div class="study-header__details">
        <div>
            <h3 class="study-header__details__key">Methodology</h3>
            <p class="study-header__details__value">
              <%= link_to @study.study_type.name, search_path(study_type: @study.study_type.name) %>
            </p>
        </div>
        <div>
            <h3 class="study-header__details__key">
                <%= "Topic".pluralize(@study.study_topics.count) %>
            </h3>
            <p class="study-header__details__value">
                <% @study.study_topics.each do |study_topic| %>
                  <%= link_to study_topic.name, search_path(study_topic: study_topic.name) %><%= "," unless study_topic == @study.study_topics.last %>
                <% end %>
            </p>
        </div>
      <% unless @study.principal_investigator.blank? %>
        <div>
            <h3 class="study-header__details__key">Principal investigator</h3>
            <p class="study-header__details__value">
              <%= link_to @study.principal_investigator.name, search_path(q: @study.principal_investigator.name) %>
            </p>
        </div>
      <% end %>
      <% unless @study.country_names.blank? %>
        <div>
            <h3 class="study-header__details__key">
                <%= "Location".pluralize(@study.countries.count) %>
            </h3>
            <p class="study-header__details__value">
              <% @study.countries.each do |country| %>
                <%= link_to country.name, search_path(country: country.alpha2) %><%= "," unless country == @study.countries.last %>
              <% end %>
            </p>
        </div>
      <% end %>
    </div>
</div>