<%# You can stop the methodology/country/topic links being inserted
    by passing :no_links=>true when you include this partial %>
<% no_links = false unless local_assigns.has_key? :no_links %>

<div class="study-header__primary">
    <div class="site-header__title">
        <h1>
          <% if no_links %>
            <%= study.title %>
          <% else %>
            <%= link_to study.title, study_path(study) %>
          <% end %>
        </h1>
    </div>

    <div class="study-header__details">
        <div>
            <h3 class="study-header__details__key">Methodology</h3>
            <p class="study-header__details__value">
              <% if no_links %>
                <%= study.study_type.name %>
              <% else %>
                <%= link_to study.study_type.name, root_path(study_type: study.study_type.name) %>
              <% end %>
            </p>
        </div>
        <div>
            <h3 class="study-header__details__key">
                <%= "Topic".pluralize(study.study_topics.count) %>
            </h3>
            <p class="study-header__details__value">
                <% study.study_topics.each do |study_topic| %>
                  <% if no_links %>
                    <%= study_topic.name %><%= "," unless study_topic == study.study_topics.last %>
                  <% else %>
                    <%= link_to study_topic.name, root_path(study_topic: study_topic.name) %><%= "," unless study_topic == study.study_topics.last %>
                  <% end %>
                <% end %>
            </p>
        </div>
      <% unless study.principal_investigator.blank? %>
        <div>
            <h3 class="study-header__details__key">Principal investigator</h3>
            <p class="study-header__details__value">
              <% if no_links %>
                <%= study.principal_investigator.name %>
              <% else %>
                <%= link_to study.principal_investigator.name, root_path(q: study.principal_investigator.name) %>
              <% end %>
            </p>
        </div>
      <% end %>
      <% unless study.country_names.blank? %>
        <div>
            <h3 class="study-header__details__key">
                <%= "Location".pluralize(study.countries.count) %>
            </h3>
            <p class="study-header__details__value">
              <% study.countries.each do |country| %>
                <% if no_links %>
                  <%= country.name %><%= "," unless country == study.countries.last %>
                <% else %>
                  <%= link_to country.name, root_path(country: country.alpha2) %><%= "," unless country == study.countries.last %>
                <% end %>
              <% end %>
            </p>
        </div>
      <% end %>
    </div>
</div>