<% @document ||= Document.new %>
<% @study_note ||= StudyNote.new %>

<ul class="study-main__actions__tabs">
    <li>
        Add:
    </li>
    <li>
        <label class="btn btn-default houdini-label" for="add-document">
            <i class="glyphicon glyphicon-file"></i>
            Document
        </label>
    </li>
    <li>
        <label class="btn btn-default houdini-label" for="add-note">
            <i class="glyphicon glyphicon-comment"></i>
            Note
        </label>
    </li>
</ul>

<input class="houdini-input"
       type="radio"
       name="action-sheet-accordion"
       <%= "checked" if @document.errors.any? %>
       id="add-document">

<%= form_for [@study, @document], html: { class: "action-sheet houdini-target" } do |f| %>
    <div class="action-sheet__section">
        <%= render partial: "shared/form_errors", locals: { resource: @document } %>
        <div class="row">
            <div class="col-sm-7">
                <%= f.label :document, "Choose document" %>
                <%= f.file_field :document %>
            </div>
            <div class="col-sm-5">
                <%= f.label :document_type_id %>
                <%= f.collection_select :document_type_id,
                                        DocumentType.all,
                                        :id,
                                        :name,
                                        html: { class: "form-control" } %>
            </div>
        </div>
    </div>
    <div class="action-sheet__section action-sheet__section--last">
        <div class="row">
            <p class="col-sm-7 action-sheet__warning">
                <strong>Remember:</strong><br>
                This document will be publicly accessible
            </p>
            <p class="col-sm-5 action-sheet__submit">
                <button type="submit" class="btn btn-success">
                    Add document
                </button>
            </p>
        </div>
    </div>
<% end %>

<input class="houdini-input"
       type="radio"
       name="action-sheet-accordion"
       <%= "checked" if @study_note.errors.any? %>
       id="add-note">

<%= form_for [@study, @study_note], html: { class: "action-sheet houdini-target" } do |f| %>
    <div class="action-sheet__section">
        <%= render partial: "shared/form_errors", locals: { resource: @study_note } %>
        <div class="row">
            <div class="col-sm-12">
                <%= f.label :notes %>
                <%= f.text_area :notes, { class: "form-control" }%>
            </div>
        </div>
    </div>
    <div class="action-sheet__section action-sheet__section--last">
        <div class="row">
            <p class="col-sm-7 action-sheet__warning">
                <strong>Remember:</strong><br>
                This note will be publicly accessible
            </p>
            <p class="col-sm-5 action-sheet__submit">
                <button type="submit" class="btn btn-success">Add note</button>
            </p>
        </div>
    </div>
<% end %>
