<ul>
    <li>
        Add:
    </li>
    <li>
        <label class="btn btn-default houdini-label" for="add-document">
            <i class="glyphicon glyphicon-file"></i>
            Document
        </label>
    </li>
    <li>
        <label class="btn btn-default houdini-label" for="add-note">
            <i class="glyphicon glyphicon-comment"></i>
            Note
        </label>
    </li>
    <li>
        <label class="btn btn-default houdini-label" for="add-output">
            <i class="glyphicon glyphicon-bullhorn"></i>
            Output
        </label>
    </li>
    <li>
        <label class="btn btn-default houdini-label" for="add-enabler-barrier">
            <i class="glyphicon glyphicon-exclamation-sign"></i>
            Enabler/Barrier
        </label>
    </li>
</ul>

<input class="houdini-input"
       type="radio"
       name="action-sheet-accordion"
       <%= "checked" if @document.errors.any? %>
       id="add-document">

<%= form_for [@study, @document], html: { class: "action-sheet houdini-target" } do |f| %>
    <div class="action-sheet__section">
        <%= render partial: "shared/form_errors", locals: { resource: @document } %>
        <div class="row">
            <div class="col-sm-7">
                <%= f.label :document, "Choose document" %>
                <%= f.file_field :document %>
            </div>
            <div class="col-sm-5">
                <%= f.label :document_type %>
                <%= f.collection_select :document_type_id,
                                        DocumentType.all,
                                        :id,
                                        :name,
                                        html: { class: "form-control" } %>
            </div>
        </div>
    </div>
    <div class="action-sheet__section action-sheet__section--last">
        <div class="row">
            <p class="col-sm-7 action-sheet__warning">
                <strong>Remember:</strong><br>
                This document will be publicly accessible
            </p>
            <p class="col-sm-5 action-sheet__submit">
                <button type="submit" class="btn btn-success">
                    Add document
                </button>
            </p>
        </div>
    </div>
<% end %>

<input class="houdini-input"
       type="radio"
       name="action-sheet-accordion"
       <%= "checked" if @study_note.errors.any? %>
       id="add-note">

<%= form_for [@study, @study_note], html: { class: "action-sheet houdini-target" } do |f| %>
    <div class="action-sheet__section">
        <%= render partial: "shared/form_errors", locals: { resource: @study_note } %>
        <div class="row">
            <div class="col-sm-12">
                <%= f.label :notes %>
                <%= f.text_area :notes, html: { class: "form-control" }%>
            </div>
        </div>
    </div>
    <div class="action-sheet__section action-sheet__section--last">
        <div class="row">
            <p class="col-sm-7 action-sheet__warning">
                <strong>Remember:</strong><br>
                This note will be publicly accessible
            </p>
            <p class="col-sm-5 action-sheet__submit">
                <button type="submit" class="btn btn-success">Add note</button>
            </p>
        </div>
    </div>
<% end %>

<input class="houdini-input"
       type="radio"
       name="action-sheet-accordion"
       <%= "checked" if @publication.errors.any? || @dissemination.errors.any? || @study_impacts_errors %>
       id="add-output">

<form class="action-sheet houdini-target"
      action="<%= study_outputs_create_path(@study) %>"
      method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <div class="output-type-accordion">

        <input type="radio" name="output_type" id="output-type-publication" class="output-type-input houdini-input houdini-input--visible" value="publication" <%= "checked" if @publication.errors.any?%>>
        <label for="output-type-publication" class="output-type-label houdini-label">
            Publication
        </label>

        <div class="action-sheet__section action-sheet__section--child houdini-target">
            <%= render partial: "shared/form_errors", locals: { resource: @publication } %>
            <div class="row">
                <div class="col-sm-6">
                    <%= label :publication, :doi_number, "DOI" %>
                    <%= text_field :publication, :doi_number, { class: "form-control" } %>
                    <%= label :publication,
                              :details,
                              raw("Or enter details manually&hellip;"),
                              { class: "houdini-label manual-publication-details-link" } %>
                </div>
            </div>

            <input type="checkbox" class="houdini-input" id="publication_details">
            <div class="houdini-target">
                <div class="row">
                    <div class="col-sm-6">
                        <%= label :publication, :article_title %>
                        <%= text_field :publication,
                                       :article_title,
                                       { class: "form-control" } %>
                    </div>
                    <div class="col-sm-6">
                        <%= label :publication, :lead_author %>
                        <%= text_field :publication,
                                       :lead_author,
                                       { class: "form-control" } %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <%= label :publication, :book_or_journal_title, "Publication title" %>
                        <%= text_field :publication,
                                       :book_or_journal_title,
                                       { class: "form-control" } %>
                    </div>
                    <div class="col-sm-6">
                        <%= label :publication, :publication_year %>
                        <%= text_field :publication,
                                       :publication_year,
                                       { class: "form-control" } %>
                    </div>
                </div>
            </div>
        </div>

        <input type="radio" name="output_type" id="output-type-dissemination" class="output-type-input houdini-input houdini-input--visible" value="dissemination" <%= "checked" if @dissemination.errors.any? %>>
        <label for="output-type-dissemination" class="output-type-label houdini-label">
            Dissemination
        </label>

        <div class="action-sheet__section action-sheet__section--child houdini-target">
            <%= render partial: "shared/form_errors", locals: { resource: @dissemination } %>
            <p>
                <%= label :dissemination, :dissemination_category_id %>
                <%= select :dissemination, :dissemination_category_id,
                    grouped_options_for_select(DisseminationCategory.grouped_options_for_select),
                    {},
                    { class: "form-control" } %>
            </p>
            <p>
                <%= label :dissemination, :details %>
                <%= text_area :dissemination, :details, { class: "form-control" } %>
            </p>
            <p>
                <%# Not using the form helpers here because we want to wrap
                    the checkbox in the label, and we don't care about the
                    special hidden field Rails puts in %>
                <label class="checkbox-inline">
                    <input type="checkbox"
                           name="dissemination[fed_back_to_field]"
                           <%= "checked" if @dissemination.fed_back_to_field %>> This has been fed back to the field
                </label>
            </p>
        </div>

        <input type="radio" name="output_type" id="output-type-other" class="output-type-input houdini-input houdini-input--visible" value="study_impact" <%= "checked" if @study_impacts_errors %>>
        <label for="output-type-other" class="output-type-label houdini-label">
            Other impact
        </label>

        <div class="action-sheet__section action-sheet__section--child houdini-target">
          <% ImpactType.order(:name).each do |impact_type| %>
            <%= render partial: "shared/form_errors",
                       locals: { resource: @study_impacts[impact_type.id] } %>
            <p class="other-impact-type">
                <input type="checkbox"
                       class="houdini-input houdini-input--visible"
                       id="impact_type_<%= impact_type.name.parameterize %>"
                       name="study_impact[impact_type_ids][<%= impact_type.id %>]"
                       value="<%= impact_type.id %>"
                       <%= "checked" if @study_impacts[impact_type.id].present? %>>
                <label class="houdini-label"
                       for="impact_type_<%= impact_type.name.parameterize %>">
                       <%= impact_type.name %>
                </label>
                <textarea class="form-control houdini-target"
                          placeholder="Description&hellip;"
                          name="study_impact[descriptions][<%= impact_type.id %>]"><%= @study_impacts[impact_type.id].description if @study_impacts[impact_type.id].present? %></textarea>
            </p>
          <% end %>
        </div>

    </div>

    <div class="action-sheet__section action-sheet__section--last">
        <div class="row">
            <p class="col-sm-7 action-sheet__warning">
                <strong>Remember:</strong><br>
                This output will be publicly accessible
            </p>
            <p class="col-sm-5 action-sheet__submit">
                <button class="btn btn-success">Add output</button>
            </p>
        </div>
    </div>
</form>

<input class="houdini-input"
       type="radio"
       name="action-sheet-accordion"
       id="add-enabler-barrier">

<form class="action-sheet houdini-target">
    <div class="action-sheet__section">
        <div class="row">
            <div class="col-sm-12">
                <label>Enablers/Barriers to foo</label>
                <textarea class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Enablers/Barriers to bar</label>
                <textarea class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Enablers/Barriers to baz</label>
                <textarea class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="action-sheet__section action-sheet__section--last">
        <div class="row">
            <p class="col-sm-7 action-sheet__warning">
                <strong>Remember:</strong><br>
                This information will be publicly accessible
            </p>
            <p class="col-sm-5 action-sheet__submit">
                <button type="submit" class="btn btn-success">Add enablers/barriers</button>
            </p>
        </div>
    </div>
</form>
