<% content_for :page_title, truncate(@study.title, length: 50) %>
<header class="site-header">
    <div class="container">
        <%= render partial: 'studies/header' %>
    </div>
</header>
<div class="site-subnav study-subnav study-subnav--<%= @study.study_stage %>">
    <div class="container">
        <%= render partial: 'studies/stage_progress_bar',
                   locals: { timeline: study_timeline(@study) } %>
    </div>
</div>
<div class="site-main">
    <div class="container">
        <div class="study-main">
            <div class="study-main__primary">
                <div class="study-main__actions">
                    <%= render partial: "studies/study_actions" %>
                </div>
                <div class="study-main__timeline timeline">
                    <ol reversed>
                        <%= render_activities @study.activities.reverse,
                                              layout: :timeline %>
                    </ol>
                </div>
            </div>
            <div class="study-main__secondary">
              <% if @study.user_can_manage?(current_user)%>
                <div class="study-main__secondary__section study-main__secondary__section--admin">
                    <h3>Manage this study:</h3>
                    <ul>
                      <% if @study.study_stage == 'protocol_erb' %>
                        <li>
                            <%= link_to study_progress_to_delivery_path(@study),
                                        class: "btn btn-default",
                                        method: :put do %>
                                <span class="glyphicon glyphicon-transfer"></span> This study is in delivery
                            <% end %>
                        </li>
                      <% elsif @study.study_stage == 'delivery' %>
                        <li>
                            <%= link_to study_progress_to_completion_path(@study),
                                        class: "btn btn-default",
                                        method: :put do %>
                                <span class="glyphicon glyphicon-transfer"></span> This study has completed
                            <% end %>
                        </li>
                      <% end %>
                        <li>
                            <%= link_to "Add dissemination or impact for this study",
                                        study_outputs_new_path(@study) %>
                        </li>
                    </ul>
                </div>
              <% end %>
                <div class="study-main__secondary__section">
                    <h3>Documents:</h3>
                  <% if @study.documents.each do |document| %>
                    <a href="<%= document.document.url %>" class="file file--<%= document.nice_content_type[:generic_type].parameterize %>">
                        <span class="file__name">
                            <%= document.document_file_name %>
                        </span>
                        <span class="file__details">
                            <%= number_to_human_size(document.document_file_size) %>
                        </span>
                    </a>
                  <% end.empty? %>
                    <p class="study-main__secondary__section__blank">No documents uploaded.</p>
                  <% end %>
                </div>

                <div class="study-main__secondary__section">
                    <h3>Publications:</h3>
                  <% if @study.publications.each do |publication| %>
                    <p class="file file--publication">
                        <span class="file__name">
                            <%= publication.article_title %>
                        </span>
                        <span class="file__details">
                            <%= publication.lead_author %> –
                            <%= publication.book_or_journal_title %>
                            (<%= publication.publication_year %>)
                        </span>
                    </p>
                  <% end.empty? %>
                    <p class="study-main__secondary__section__blank">No publications recorded.</p>
                  <% end %>
                </div>

                <div class="study-main__secondary__section">
                    <h3>Follow this study:</h3>
                    <p>Be notified when there is activity on this study.</p>
                    <p><a href="#" class="btn btn-success">Follow this study</a></p>
                </div>

              <% if user_signed_in? && current_user.is_admin %>
                <div class="study-main__secondary__section study-main__secondary__section--admin">
                    <h3>Admin actions:</h3>
                    <ul>
                        <li>
                            <a href="<%= edit_admin_study_path @study %>">Edit study details</a>
                        </li>
                    </ul>
                </div>
              <% end %>
            </div>
        </div>
    </div>
</div>
