<header class="site-header">
    <div class="container">
        <div class="study-header">
            <div class="study-header__primary">
                <div class="site-header__title">
                    <h1><%= @study.title %></h1>
                </div>
                <div class="study-header__details">
                    <div>
                        <h3 class="study-header__details__key">Methodology</h3>
                        <p class="study-header__details__value"><a href="/search?methodology=mixed%20methods%20study"><%= @study.study_type.name %></a></p>
                    </div>
                    <div>
                        <h3 class="study-header__details__key">Topic</h3>
                        <p class="study-header__details__value"><a href="/search?topic=tuberculosis"><%= @study.study_topic.name %></a></p>
                    </div>
                    <div>
                        <h3 class="study-header__details__key">Principal investigator</h3>
                        <p class="study-header__details__value"><a href="/search?pi=janet%20bloggs">Janet Bloggs</a></p>
                    </div>
                  <% unless @study.country.blank? %>
                    <div>
                        <h3 class="study-header__details__key">Location</h3>
                        <p class="study-header__details__value"><a href="/search?location=south%20sudan"><%= @study.country %></a></p>
                    </div>
                  <% end %>
                </div>
            </div>
            <div class="study-header__secondary">
                <div class="site-header__card">
                    <h3>Stage:</h3>
                    <p class="site-header__stage"><%= @study.study_stage_label %></p>
                    <p class="site-header__stage-since">
                        Since <%= @study.study_stage_since.to_formatted_s(:short_ordinal) %>
                    </p>
                </div>
                <div class="site-header__card">
                    <h3>Most recent action:</h3>
                    <%= render_activity @study.activities.last, layout: :most_recent %>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="site-subnav study-subnav">
    <div class="container">
        <%= render partial: 'studies/stage_progress_bar',
                   locals: { timeline: study_timeline(@study) } %>
    </div>
</div>
<div class="site-main">
    <div class="container">
        <div class="study-main">
            <div class="study-main__primary">
                <div class="study-main__actions">
                    <%= render partial: "studies/study_actions" %>
                </div>
                <div class="study-main__timeline timeline">
                    <ol reversed>
                        <%= render_activities @study.activities.reverse,
                                              layout: :timeline %>
                    </ol>
                </div>
            </div>
            <div class="study-main__secondary">
                <div class="study-main__secondary__section">
                    <h3>Documents:</h3>
                    <ul class="document-list">
                        <li>
                            <h4>
                                <a href="#">ERB feedback document</a>
                            </h4>
                            <p>Uploaded 10th November by <a href="#">Kim West (Administrator)</a></p>
                        </li>
                        <li>
                            <h4>
                                <a href="#">Protocol review form</a>
                            </h4>
                            <p>Uploaded 28th October by <a href="#">Janet Bloggs</a></p>
                        </li>
                        <li>
                            <h4>
                                <a href="#">Concept note</a>
                            </h4>
                            <p>Uploaded 4th October by <a href="#">Kim West (Administrator)</a></p>
                        </li>
                    </ul>
                </div>
                <div class="study-main__secondary__section">
                    <h3>Publications:</h3>
                    <p class="study-main__secondary__section__blank">No publications recorded.</p>
                </div>
                <div class="study-main__secondary__section">
                    <h3>Follow this study:</h3>
                    <p>Be notified when there is activity on this study.</p>
                    <p><a href="#" class="btn btn-success">Follow this study</a></p>
                </div>
                <% if user_signed_in? && current_user.is_admin %>
                    <div class="study-main__secondary__section study-main__secondary__section--admin">
                        <h3>Admin actions:</h3>
                        <ul>
                            <li>
                                <a href="<%= edit_admin_study_path @study %>">Edit study details</a>
                            </li>
                        </ul>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
