<% if delivery_update.present? %>
  <small><%= time_ago_in_words(delivery_update.created_at) %> ago</small>
  <table class="delivery-update-info-box">
    <thead>
      <tr>
        <th>Data collection</th>
        <th>Data analysis</th>
        <th>Interpretation & write up</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="<%= delivery_update.data_collection_status.good_medium_bad_or_neutral%>">
          <%= delivery_update.data_collection_status.name %>
        </td>
        <td class="<%= delivery_update.data_analysis_status.good_medium_bad_or_neutral%>">
          <%= delivery_update.data_analysis_status.name %>
        </td>
        <td class="<%= delivery_update.interpretation_and_write_up_status.good_medium_bad_or_neutral%>">
          <%= delivery_update.interpretation_and_write_up_status.name %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>